<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | {{blog_detail.id}}</title>
</head>
<body>
    {% if object_list %}
    <div>
        <h1>{{object_list.title}}</h1>
        <h3>{{object_list.sub_title}}</h3>
        <img height='200' width='200' src="{{object_list.image.url}}" alt="{{object_list.title}}">
        <p>{{object_list.body}}</p>

        <button><a href=" {% url 'update-blog' object_list.id %}">Edit</a></button>
        <button><a href=" {% url 'delete-blog'object_list.id %}">Delete</a></button>
      </div>
    {% endif %}
</body>
</html>